<div class="container-full">
  <h3>{{books.length}} books</h3>
  <table class="table">
    <thead>
      <tr>
        <th> Author </th>
        <th ng-repeat="month in months">{{month}}</tH>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="author in authors track by author.author.id">
        <td>{{author.author.name}}</td>
        <td ng-repeat="month in months track by month">
          <ul ng-if="author.months[month]">
            <li ng-repeat="book in author.months[month] track by book.id">
              {{book.title}}
              <img ng-src="{{book.image_url}}"/>
            </li>
        </td>
      </tr>
    </tbody>
  </table>
</div>
